.App {
  text-align: center;
}

h1 {
  color: blue;
}

.podcasts-list {
  list-style: none;
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  padding: 0;
}

.podcast {
  width: 250px;
  border: 1px solid black;
}